/* @media only screen and (max-width: 620px)
{
    background-image: none;
    background-color: green;
}

@media only screen
and (min-width : 600px)
and (max-width :  839px)
{
}

@media only screen
and (min-width : 840px)
{
} */

.check{
    font-size: 30px;
    color: whitesmoke;
    float: right;
}