@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgrey;
}

.nav-top {
    position: sticky;
    padding: 0;
    background-color: rgb(98, 98, 98);
    box-shadow: 0 0 50px rgb(0, 0, 0);
    top: 0;
    left: 0;
    right: 0;
}

.nav-top ul {
    margin: auto;
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.nav-top li {
    padding: 20px 0;
    float: none;
    display: inline;
}

.nav-top a {
    padding: 20px;
    color: whitesmoke;
    text-decoration: none;
}

.nav-top a:hover {
    background-color: rgb(69, 69, 69);
}

.hamburger-menu{
    display: none;
}

input{
    display: none;
}

.content {
    padding: 20px;
    text-align: center;
}

.content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.content p {
    font-size: 1.2rem;
}

.container {
    padding: 20px;
    background-color: #ffffff;
    margin: 20px 0;
}

.container h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.container p {
    font-size: 1.1rem;
}

.gallery {
    padding: 20px;
    text-align: center;
}

.gallery h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.gallery-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1%;
}

.gallery-images img {
    width: 40vw;
    height: auto;
    padding: 50px;
}

footer {
    padding: 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
}

/* Mobiel grootte */
@media(max-width: 665px){
    body{
        background-color: white;
    }

    ul{
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 75vh;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
        background-color: rgb(98, 98, 98);
    }

    .nav-top{
        position: sticky;
    }

    .nav-top ul li{
        line-height: 30px;
    }

    .nav-top .hamburger-menu{
        margin: auto;
        line-height: 60px;
        font-size: 30px;
        color: whitesmoke;
        display: inline;
        padding-left: 20px;
    }

    .hamburger-menu{
        display: flex;
    }

    .hamburger-menu:has(input:checked) + .ultest {
        left: 0;
    }

    .content h1 {
        font-size: 2rem;
    }

    .content p {
        font-size: 1rem;
    }

    .container {
        background-color: #cccccc;
    }

    .container h2 {
        font-size: 1.5rem;
    }

    .container p {
        font-size: 1rem;
    }

    .gallery h2 {
        font-size: 1.5rem;
    }

    .gallery-images img {
        width: 80vw;
    }
}

/* Tablet grootte */
@media (min-width: 665px) and (max-width: 1200px)
{
    body{
    background-color: slategrey;
    }

    .content {
        color: white;
    }

    .content h1 {
        font-size: 2.5rem;
    }

    .content p {
        font-size: 1.1rem;
    }

    .container {
        background-color: #7f8ba9;
        color: white;
    }

    .container h2 {
        font-size: 1.6rem;
    }

    .container p {
        font-size: 1.05rem;
    }

    .gallery {
        color: white;
    }

    .gallery h2 {
        font-size: 2rem;
    }

    .gallery-images img {
        width: 80vw;
    }
}