*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

.Homepage-big-text{
    text-align: center;
    text-shadow: -1px -1px 0 #e9e9e9, 1px -1px 0 #e9e9e9, -1px 1px 0 #e9e9e9, 1px 1px 0 #e9e9e9;
}

.Homepage-big-text h1{
    font-size: 50px;
    padding: 100px;
}

.Homepage-big-text p{
    padding-left: 200px;
    padding-right: 200px;
}

.nav-top{
    padding: 0;
    background-color: rgb(98, 98, 98);
    box-shadow: 0 0 50px rgb(0, 0, 0);
    top: 0;
}


.nav-top ul{
    margin: auto;
    list-style-type: none;
    padding: 20px;
    text-align: center;
}

.nav-top li{
    padding: 20px;
    float: none;
    display: inline;
}

.nav-top a{
    padding: 20px;
    color: whitesmoke;
    text-decoration: none;
}

.nav-top a:hover{
    background-color: rgb(69, 69, 69);
}

.images{
    padding: 20px;
    display: flexbox;
    text-align: center;
}

img{
    width: 500px;
    padding: 50px;
}

.contactbody{
    display: flex;
    justify-content: center;
}

.form{
    background-color: whitesmoke;
    display: block;
    justify-content: center;
    text-align: center;
    margin: 250px;
}