body {
    margin: 0;
}

.nav-top{
    padding: 0;
    background-color: rgb(98, 98, 98);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    top: 0;
    color: white;
}


.nav-top ul{
    margin: auto;
    list-style-type: none;
    padding: 20px;
    text-align: center;
}

.nav-top li{
    padding: 25px;
    float: none;
    display: inline;
}

h1{

}

h2{

}

h3{

}

